h1, .markdown-rendered h1, .HyperMD-header-1
{
	color: #F9F871;
	text-decoration: underline;
	padding: 40px;
	
}


h2, .markdown-rendered h2, .HyperMD-header-2
{
	color: #FDB653;
	text-decoration: underline;
}

h3, .markdown-rendered h3, .HyperMD-header-3
{
	color: #E87753;
	text-decoration: underline;
}

h4 .markdown-rendered h4, .HyperMD-header-4
{
	color: #BB435B;
	text-decoration: underline;
}


h5 .markdown-rendered h5, .HyperMD-header-5
{
	color: #7C205C;
	text-decoration: underline;
}

h1::after
{
	color: red;
}

.inline-title
{
	color: #FEC44E;
	text-transform: uppercase;
	margin: auto;
	width: 70%;
	padding: 10px;
	text-align: center;
	border: 2px;
}

.inline-title:hover
{
	transform: scale(1.2,1.2);
	text-shadow: 1px 1px 5px #fec44e;
	transition: transform 2s, text-shadow 2s;
}

